ion-header{
    background-color: black;
}

body{
   background-color :black;
}
ion-content{
    background-color:black
}
.butt{
    margin-top:0px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        height: 10 px;
    }

    .image{
        height: 50px;
        width: 50%;
        display: flex;
        padding:0px;
     margin: 10px auto;
     background: black;
     margin-top:30px;
    }