<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="end">
      <ion-menu-button menu="principal"></ion-menu-button>
    </ion-buttons>
    <ion-title class="shop">Bookish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="search-container4">
    <form id="search-form8">
      <ion-searchbar class="search" (ionChange)="cambiaTexto($event)" placeholder="Título..." name=""></ion-searchbar>
      <ion-list>
        <div *ngFor="let libro of libros | bookFilter:busqueda" class="custom-card">
          <img [src]="libro.img" alt="{{ libro.titulo }}" class="book-img">
          <div class="book-info">
            <p>{{ libro.titulo }}</p>
            <h2>{{ libro.titulo }}</h2>
            <p>{{ libro.autor }}</p>
            <ion-button (click)="verDetalles(libro)" fill="solid" class="details-button">Ver Detalles</ion-button>
          </div>
        </div>
      </ion-list>
      <!-- <ion-item *ngIf="mensaje">{{ mensaje }}</ion-item>-->
    </form>
  </div>
 

  
</ion-content>
