#search-container4 {
  padding: 15px;
}

.search {
  margin-bottom: 20px;
}

.custom-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 10px;
}

.book-img {
  width: 100px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  object-fit: cover;
}

.book-info {
  padding: 10px;
  flex: 1;
}

.book-info h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.book-info p {
  font-size: 1em;
  color: #666;
}

.details-button {
  --background: var(--ion-color-primary);
  --color: #fff;
}
