.stock-bajo {
    color: red;
  }
  /* stock.page.scss */
.libro-item {
    margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
    border: 1px solid #ddd; /* Opcional: para visualizar mejor los límites de cada div */
    padding: 10px; /* Espacio dentro de cada div */
  }
  