<ion-button fill="clear" class="back-button"  (click)="back()">
  <ion-icon name="arrow-back"></ion-icon>
</ion-button>


<ion-content>
  

    
  
<form [formGroup]="formSignup" class="register-form" >
  <ion-item class="ion-align-items-center">
   
    
    <ion-input type="text" placeholder="Nombre" class="form-control" formControlName="nombre"
      [clearInput]="true"></ion-input>
  </ion-item>
  <ion-text class="ion-text-left" color="danger"
    *ngIf="!formSignup.get('nombre')?.valid && formSignup.get('nombre')?.touched">
    <p class="error">* Por favor, indique su nombre</p>
  </ion-text>

  <ion-item class="ion-align-items-center">
    
    
    <ion-input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos"
      [clearInput]="true"></ion-input>
  </ion-item>
  <ion-text class="ion-text-left" color="danger"
    *ngIf="!formSignup.get('apellidos')?.valid && formSignup.get('apellidos')?.touched">
    <p class="error">* Por favor, indique sus apeliidos</p>
  </ion-text>

  <ion-item class="ion-align-items-center">
    <ion-input type="email" placeholder="Email" class="form-control" formControlName="email"
      [clearInput]="true"></ion-input>
  </ion-item>
  <ion-text class="ion-text-left" color="danger"
    *ngIf="!formSignup.get('email')?.valid && formSignup.get('email')?.touched">
    <p class="error">* Por favor, indique un email válido</p>
  </ion-text>
  

<ion-item class="ion-align-items-center">
 
  
  <ion-input type="text" placeholder="Direcciónn" class="form-control" formControlName="direccion"
    [clearInput]="true" #autocompleteAddress></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('direccion')?.valid && formSignup.get('direccion')?.touched">
  <p class="error">* Por favor, indique su dirección</p>
</ion-text>

<ion-item>
  <ion-select placeholder="Sexo" class="form-control" formControlName="sexo">
    <ion-select-option value="Hombre">Hombre</ion-select-option>
    <ion-select-option value="Mujer">Mujer</ion-select-option>
  </ion-select>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('sexo')?.valid && formSignup.get('sexo')?.touched">
  <p class="error">* Por favor, indique su sexo</p>
</ion-text>
<ion-item class="ion-align-items-center">
  
  <ion-input type="text" placeholder="Ciudad" class="form-control" formControlName="ciudad"
    [clearInput]="true" ></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('ciudad')?.valid && formSignup.get('ciudad')?.touched">
  <p class="error">* Por favor, indique su ciudad</p>
</ion-text>

<ion-item class="ion-align-items-center">
  
  <ion-input type="text" placeholder="Localidad" class="form-control" formControlName="localidad"
    [clearInput]="true" ></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('localidad')?.valid && formSignup.get('localidad')?.touched">
  <p class="error">* Por favor, indique su localidad</p>
</ion-text>
 
<ion-item class="ion-align-items-center">
 
  <ion-input type="text" placeholder="País" class="form-control" formControlName="pais"
    [clearInput]="true"></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('pais')?.valid && formSignup.get('pais')?.touched">
  <p class="error">* Por favor, indique su país</p>
</ion-text>
<ion-item class="ion-align-items-center">
  
  <ion-input type="number" placeholder="Código postal" class="form-control" formControlName="cp"
    [clearInput]="true"></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('cp')?.valid && formSignup.get('cp')?.touched">
  <p class="error">* Por favor, indique su código postal</p>
</ion-text>
<ion-item class="ion-align-items-center">
  <ion-label class="label-form" class="label-form-fecha">Fecha de nacimiento:</ion-label>
  <ion-input type="date" placeholder="Fecha de nacimiento" class="form-control"
    formControlName="nacimiento" ></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
  *ngIf="!formSignup.get('nacimiento')?.valid && formSignup.get('nacimiento')?.touched">
  <p class="error">* Porfavor, indique su fecha de nacimiento</p>
</ion-text>

<ion-item class="ion-align-items-center">
  <!-- <ion-label class="label-form">Contraseña:</ion-label> -->
  
  <ion-input type="password" placeholder="Contraseña" class="form-control" formControlName="password" [type]="passwordType"
     [clearInput]="true"></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
*ngIf="!formSignup.get('password')?.valid && formSignup.get('password')?.touched">
<p class="error" *ngIf="formSignup.get('password')?.invalid || formSignup.get('password')?.dirty">
  * La contraseña debe tener al menos 8 caracteres y contener una mayúscula, un número y un símbolo
</p>
</ion-text>

<ion-item class="ion-align-items-center">


<ion-input type="password" placeholder="Contraseña" class="form-control" formControlName="passwordtwo" [type]="passwordType"
   [clearInput]="true"></ion-input>
</ion-item>
<ion-text class="ion-text-left" color="danger"
*ngIf="!formSignup.get('password')?.valid && formSignup.get('password')?.touched">
<p class="error" *ngIf="formSignup.get('password')?.invalid || formSignup.get('password')?.dirty">
* La contraseña debe tener al menos 8 caracteres y contener una mayúscula, un número y un símbolo
</p>
</ion-text>

  <ion-button [disabled]="!formSignup.valid" class="submit ion-margin-top" size="full" (click)="onRegister()">Registrarse</ion-button>
 
  </form>
</ion-content>