/* Estilos generales para el formulario */
.butt {
  margin: 0px 20px 20px 20px;
  font-size: 20px;
}
form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los items del formulario */
ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 20px;
  --min-height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Estilo para los mensajes de error */
.form-error {
  color: red;
  font-size: 0.8em;
  margin-left: 20px;
}

/* Estilo para el botón de registro */
ion-button.submit {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
}

/* Estilo para el botón de regreso */
ion-button.back-button {
  margin: 20px 0;
  font-size: 1em;
}

/* Estilos para ion-content */
ion-content {
  --background: #000;
  color: #fff;
}

/* Estilos para los inputs */
.form-control {
  --background: #1a1a1a;
  --placeholder-color: #ccc;
  --color: #fff;
}

/* Estilos para los mensajes de error dentro de los inputs */
.error {
  color: #f53d3d;
}

/* Estilos para el botón de envío */
.submit {
  --background: #4d4d4d;
  color: #fff;
}
