page-searcher {

    #rounded{
		//border: 1px solid lightcoral;
		background-color: #f3efee;
        width: 96%;
        height: 5%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
		margin-bottom: 10px;
		margin-left: 2%;
		margin-right: 2%;
    }
    
    ion-searchbar{
        border-radius: 10px;
        background-color: red;
    }

    .img{
        margin-top: 5px;
        width: 80%;
        margin-left: 10%;
    }
    #search-button5{
        position: absolute;
        margin: 0;
        width: 40%;
        margin-left: 30%;
    }
   

}
