<ion-header class="ion-no-border">
  <ion-toolbar color="orange">
    <ion-title>Modal Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input  
      [value] = "nombre"
      type = "text"
      (ionChange) = "cambiar($event, 'nombre')">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input  
    [value] = "edad"
    type = "number"
    (ionChange) = "cambiar($event, 'edad')">
    </ion-input>
  </ion-item>

  <ion-button (click)="onClick(true)">
    Aceptar
  </ion-button>
  <ion-button (click)="onClick(false)">
    Cerrar
  </ion-button>
</ion-content>
