.usuario{
    height: 200px;
    width: 200px;
    display: block;
 margin: 0px auto;
}

.title{
margin:40px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.shop{
    font-size: 40px;
    text-align: center;
    margin:40px;
}

.image{
    height: 100px;
    width: 100%;
    display: flex;
    padding:0px;
 margin: 10px;
 background: white;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 33,3%;
    margin:0px;
    margin-top:10px;
    justify-content: center;
    align-items: center;
    
  }
  .text{
margin:20px;

  }

body{
    background-color: black;
}
ion-list{
    background-color: black;
}

