
<ion-button fill="clear" (click)="back()">
  <ion-icon name="arrow-back"></ion-icon>
</ion-button>

<ion-content>
  <!--
<form #form="ngForm" (ngSubmit)="submitInfo(user)">
  <ion-list>
    <ion-item> </ion-item>
    <ion-item>
      <ion-label>User</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>
    <ion-button  [routerLink]="['/infinite-scroll']" type="submit()" class="butt" fill="outline" color="medium"expand="block">Login</ion-button>
  </ion-list>
</form>
-->

  <form [formGroup]="form">
    <ion-item class="ion-align-items-center">
      <!-- <ion-label class="label-form">Email:</ion-label> -->
      
      <ion-input type="email" placeholder="Email" class="form-control" formControlName="email"
        [clearInput]="true"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger"
      *ngIf="!form.get('email')?.valid && form.get('email')?.touched">
      <p class="error">* Por favor, indique un email válido</p>
    </ion-text>
    
    <ion-item class="ion-align-items-center">
      <!-- <ion-label class="label-form">Contraseña:</ion-label> -->
   
      <ion-input type="password" placeholder="Contraseña" class="form-control" formControlName="password"
        [clearInput]="true"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger"
    *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
    <p class="error" *ngIf="form.get('password')?.invalid || form.get('password')?.dirty">
      * La contraseña debe tener al menos 8 caracteres y contener una mayúscula, un número y un símbolo
    </p>
  </ion-text>
    

    <ion-button *ngIf="login" class="submit ion-margin-top" size="full"  (click)="onLogin()">Iniciar</ion-button>
    


</form>
</ion-content>