<app-cabecera [titulo]="' '" [color]="'sucess'"></app-cabecera>
<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="carrito.length > 0; else nocarrito">
    <ion-item *ngFor="let item of carrito">
      <ion-thumbnail slot="start">
        <img [src]="item.img" alt="{{ item.titulo }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.titulo }}</h2>
        <p>{{ item.ISBN }}</p>
        <p>{{ item.precioTotal }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="eliminarDelCarrito(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>
      <p>Precio total: {{ precioTotalPedido }}€</p>
      <p>Descuento: {{ descuento }}</p>
      <h2>Precio Final: {{ resultadoPrecio }}€</h2>
    </ion-label>
    
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="verificaCompra()">Comprar</ion-button>
    
  </ion-item>
  
 

  <ng-template #nocarrito>
    <ion-text color="medium">No tienes elementos en el carrito</ion-text>
  </ng-template>
</ion-content>

